<mat-card class="main-container big-card">

  <div class="image">
    <img mat-card-image src="{{ game.image }}" alt="{{ game.title }}">
    <mat-card-actions class="actions">
      <button mat-icon-button class="color-darkgray mb-1" matTooltip="Jugar" matTooltipPosition="left">
        <mat-icon>casino</mat-icon>
      </button>
      <button mat-icon-button class="color-darkRed" matTooltip="Eliminar" matTooltipPosition="left">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </div>
  
  <mat-card-header class="header">
    <mat-card-title class="title mb-2">{{ game.title }}</mat-card-title>
    <mat-card-subtitle><span class="header-info">Mapa</span>: {{ game.map }}</mat-card-subtitle>
    <mat-card-subtitle><span class="header-info">Tiempo</span>: {{ game.time | millisecondsToHours }}</mat-card-subtitle>
    <mat-card-subtitle><span class="header-info">Áreas</span>: {{ game.areas }}</mat-card-subtitle>
    <mat-card-subtitle><span class="header-info">Territorios</span>: {{ game.territories }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="content">
    <mat-card-title class="subtitle mb-2">Imperios:</mat-card-title>
    <mat-card-content class="empireList pt-0">
      <div class="row jc-center">

        <div *ngFor="let empire of game.empires" class="col-auto pt-3">
          <div class="empireCard bg-{{empire.color.main}}">
            <div class="empireName color-{{empire.color.contrast}}">{{ empire.name }}</div>
            <div class="empirePercentage color-{{empire.color.contrast}}">{{ empire.percentage + ' %' }}</div>
          </div>
        </div>

      </div>
    </mat-card-content>
  </mat-card-content>

</mat-card>

<mat-card class="main-container small-card">

  <div class="image">
    <img mat-card-image src="{{ game.image }}" alt="{{ game.title }}">
    <mat-card-actions class="actions">
      <button mat-icon-button class="color-darkgray mb-1" matTooltip="Jugar" matTooltipPosition="left">
        <mat-icon>casino</mat-icon>
      </button>
      <button mat-icon-button class="color-darkRed" matTooltip="Eliminar" matTooltipPosition="left">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-card-actions>
  </div>
  
  <mat-card-header class="header">
    <mat-card-title class="title mb-2">{{ game.title }}</mat-card-title>
    <mat-card-subtitle><span class="header-info">Mapa</span>: {{ game.map }}</mat-card-subtitle>
    <mat-card-subtitle><span class="header-info">Tiempo</span>: {{ game.time | millisecondsToHours }}</mat-card-subtitle>
    <mat-card-subtitle><span class="header-info">Áreas</span>: {{ game.areas }}</mat-card-subtitle>
    <mat-card-subtitle><span class="header-info">Territorios</span>: {{ game.territories }}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="content">
    <mat-card-title class="subtitle mb-2">Imperios:</mat-card-title>
    <mat-card-content class="empireList pt-0">
      <div class="row">
        <div *ngFor="let empire of game.empires" role="listitem" class="empireCard">
          <div class="empireColor bg-{{ empire.color.main }}"></div>
          <div class="empirePercentage">{{ empire.percentage + ' %' }}</div>
          <div class="empireName">{{ empire.name }}</div>
        </div>
      </div>
      
    </mat-card-content>
  </mat-card-content>

</mat-card>