@import "src/assets/scss/_colors.scss";

.jc-center{
  justify-content: center;
}

.main-container {
  border: 1px solid $darkgray;
  box-shadow: 3px 3px 10px $darkgray;
}
.big-card.main-container {
  flex-direction: row;
  max-height: 160px;
}
.small-card.main-container {
  max-width: 271px;
  border-left: 7px solid $darkgray;
}

.image {
  position: relative;
}
.big-card .image {
  border-left: 7px solid $darkgray;
}
.small-card .image {
  border-bottom: 3px solid $darkgray;
}

.image img {
  height: 158px;
}

.actions {
  flex-direction: column;
  position: absolute;
  top: 0px;
  right: 0px;
  
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: $white, $alpha: 0.5)
  }
}

.header {
  margin: 0px;
  min-width: 260px;
  .header-info{
    font-weight: bold;
  }
}
.big-card .header {
  border-left: 3px solid $darkgray;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.content {
  padding-top: 16px;
  margin: 0px;
}
.big-card .content {
  border-left: 1px solid $darkgray;
}

.title {
  font-weight: bold;
  font-size: 18px;
}
.subtitle {
  font-weight: bold;
  font-size: 16px;
}

.empireList {
  padding-top: 16px;
}
.big-card .empireList {
  overflow-y: auto;
  max-height: 359px;
  height: 95px;
  background-color: $lightgray;
  border-radius: 5px;
}

.big-card .empireCard {
  max-width: 200px;
  text-align: center;
  padding: 6px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px $gray;
}
.small-card .empireCard {
  display: flex;
  padding: 0px;
}

.empireColor{
  height: 20px;
  width: 20px;
  border: 1px solid $lightgray;
}

.empireName{
  font-weight: bold;
  font-size: 14px;
}

.empirePercentage{
  font-weight: bold;
  font-size: 12px;
}
.small-card .empirePercentage{
  margin: 0px 5px;
  min-width: 27.53px;
  text-align: end;
}

table {
  width: 100%;
}

.big-card {
  display: flex;
}
.small-card{
  display: none;
}

@media only screen and (max-width: 900px) { //Resolución Pequeña
  .big-card {
    display: none;
  }
  .small-card{
    display: flex;
  }
}