@import "src/assets/scss/_colors.scss";

.header{
  font-weight: bold;
}

.title{

}

.list-container{

  .list{
    
    .color{
      
    }
    .name{

    }
    .edit{

    }
    .delete{

    }
  }
}

.form-container{

  .form{

    .color{
      
    }
    .name{

    }
    .action{

    }
  }
}

.actions{
  margin-bottom: 10px;
  padding: 0px 24px;
}