<h2 mat-dialog-title class="header">LISTA DE ÁREAS</h2>

<mat-dialog-content class="dialog-content pt-2">

  <div class="list-container">
    <div class="title">Lista</div>
    <div class="list">
      <div *ngFor="let area of areaList; let i = index;" class="list-item">
        <div class="content">
          <div class="color bg-{{ area.color.main }}"></div>
          <div class="name">{{ area.name }}</div>
        </div>
        <div class="actions">
          <button mat-icon-button class="edit" (click)="editArea(i)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button class="delete" (click)="deleteArea(i)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
      <div *ngIf="areaList!.length === 0" class="no-areas">No Existen Áreas de Mapa</div>
    </div>
  </div>

  <div class="form-container">
    <div class="title">{{ editMode ? 'Editar' : 'Agregar' }}</div>
    <div class="form">
      <div class="fields">
        <div class="color">
          <mat-form-field>
            <mat-label>Color de Área</mat-label>
            <mat-select #select [(ngModel)]="areaColor">
              <mat-option>--</mat-option>
              <mat-option *ngFor="let color of colorList" [value]="color">
                <div class="int-item">
                  <div class="int-color bg-{{ color.main }}"></div>
                  <div>{{ color.name }}</div>
                </div>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="name">
          <mat-form-field>
            <mat-label>Nombre de Área</mat-label>
            <input matInput #input [(ngModel)]="areaName" maxlength="10" placeholder="">
            <mat-hint align="end">{{ input.value.length }}/10</mat-hint>
          </mat-form-field>
        </div>
      </div>
      <div class="action">
        <button
          *ngIf="editMode"
          mat-button
          class="discard"
          (click)="discardEdition()"
        >
          Descartar
        </button>
        <button
          mat-button
          [disabled]="!areaColor || !areaName"
          [ngClass]="{'disabled-button': !areaColor || !areaName}"
          class="color-white bg-blue"
          (click)="editMode ? applyEdition() : applyAddition()"
        >
          Aplicar
        </button>
      </div>
    </div>
  </div>

</mat-dialog-content>

<mat-dialog-actions class="actions justify-content-end">

  <button mat-button mat-dialog-close>
    Cancelar
  </button>

  <button
    mat-raised-button
    [disabled]="dataIsEqual()"
    [ngClass]="{'disabled-button': dataIsEqual()}"
    class="color-white bg-blue"
    (click)="accept()"
  >
    Guardar Cambios
  </button>

</mat-dialog-actions>
