@import "src/assets/scss/_colors.scss";

.main-container {
  border: 1px solid $darkgray;
  box-shadow: 3px 3px 10px $darkgray;
  width: 210px;
}

.header{
  border-top: 3px solid $darkgray;
  flex-direction: column;
  .header-info{
    font-weight: bold;
  }
}

.title{
  text-align: center;
  font-weight: bold;
  font-size: 18px;
}

.actions{
  justify-content: center;
  
  button{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}