<mat-card>
  <mat-card-header class="header bg-lightGreen">
    <mat-card-title class="title">Lista de Mapas</mat-card-title>
    <button mat-button class="addButton" routerLink="/mapManager">
      <mat-icon class="icon">add</mat-icon>Crear
    </button>
  </mat-card-header>

  <mat-card-content class="content">
    <div class="row">
      <div *ngFor="let map of mapList" class="col-auto map">
        <app-map-card [map]="map"></app-map-card>
      </div>
    </div>
  </mat-card-content>
</mat-card>
