$white: white;
.bg-white{ background-color: $white }
.color-white{ color: $white }

$black: black;
.bg-black{ background-color: $black }
.color-black{ color: $black }

$lightGray: lightGray;
.bg-lightGray{ background-color: $lightGray }
.color-lightGray{ color: $lightGray }
$gray: gray;
.bg-gray{ background-color: $gray }
.color-gray{ color: $gray }
$darkGray: #303030;
.bg-darkGray{ background-color: $darkGray }
.color-darkGray{ color: $darkGray }

$lightRed: red;
.bg-lightRed{ background-color: $lightRed }
.color-lightRed{ color: $lightRed }
$red: red;
.bg-red{ background-color: $red }
.color-red{ color: $red }
$darkRed: darkred; //----------------------------
.bg-darkRed{ background-color: $darkRed }
.color-darkRed{ color: $darkRed }

$lightGreen: rgba(0,255,0,.05); //---------------
.bg-lightGreen{ background-color: $lightGreen }
.color-lightGreen{ color: $lightGreen }
$green: green;
.bg-green{ background-color: $green }
.color-green{ color: $green }
$darkGreen: darkslategray;
.bg-darkGreen{ background-color: $darkGreen }
.color-darkGreen{ color: $darkGreen }

$lightBlue: lightblue;
.bg-lightBlue{ background-color: $lightBlue }
.color-lightBlue{ color: $lightBlue }
$blue: royalblue; //-----------------------------
.bg-blue{ background-color: $blue }
.color-blue{ color: $blue }
$darkBlue: darkblue;
.bg-darkBlue{ background-color: $darkBlue }
.color-darkBlue{ color: $darkBlue }

$yellow: yellow;
.bg-yellow{ background-color: $yellow }
.color-yellow{ color: $yellow }

$purple: darkslateblue;
.bg-purple{ background-color: $purple }
.color-purple{ color: $purple }