$white: white;
.bg-white{ background-color: $white }
.color-white{ color: $white }

$black: black;
.bg-black{ background-color: $black }
.color-black{ color: $black }

$lightgray: lightgray;
.bg-lightGray{ background-color: $lightgray }
.color-lightGray{ color: $lightgray }

$gray: gray;
.bg-gray{ background-color: $gray }
.color-gray{ color: $gray }

$darkgray: darkslategray;
.bg-darkgray{ background-color: $darkgray }
.color-darkgray{ color: $darkgray }

$lightGreen: rgba(0,255,0,.05);
.bg-lightGreen{ background-color: $lightGreen }
.color-lightGreen{ color: $lightGreen }

$purple: darkslateblue;
.bg-purple{ background-color: $purple }
.color-purple{ color: $purple }

$actionBlue: royalblue;
.bg-actionBlue{ background-color: $actionBlue }
.color-actionBlue{ color: $actionBlue }

$actionRed: darkred;
.bg-actionRed{ background-color: $actionRed }
.color-actionRed{ color: $actionRed }