<div class="main-container">

  <mat-toolbar class="toolbar-container bg-darkGreen">
    <span class="toolbar-title color-white">NUEVO MAPA</span>
    <span class="toolbar-spacer"></span>
    <div class="toolbar-options">
      <button mat-button class="toolbar-option" (click)="saveAndExit()">
        <mat-icon>save</mat-icon>
        <span>Guardar y Salir</span>
      </button>
      <button mat-button class="toolbar-option" (click)="saveAndPlay()">
        <mat-icon>play_arrow</mat-icon>
        <span>Guardar y Jugar</span>
      </button>
      <button mat-button class="toolbar-option" (click)="discard()">
        <mat-icon>delete</mat-icon>
        <span>Descartar</span>
      </button>
    </div>
  </mat-toolbar>

  <div class="main-content">
    <div class="header">
      <div class="map-name">
        <mat-form-field hintLabel="Máximo 20 caracteres">
          <mat-label>Nombre del Mapa</mat-label>
          <input matInput #input required [(ngModel)]="mapName" maxlength="20" placeholder="">
          <mat-hint align="end">{{ input.value.length }}/20</mat-hint>
          <mat-error *ngIf="!mapName">
            Debes indicar el nombre del mapa
          </mat-error>
        </mat-form-field>
      </div>

      <div class="action-container">
        <div class="action add-image">
          <button mat-button (click)="addImage()">
            <mat-icon>add</mat-icon>
            <span>Imágen</span>
          </button>
          <input type="file" #fileInput hidden (change)="addedImage($event)">
        </div>
        <div class="action add-super-territory">
          <button mat-button (click)="addArea()"><!--  [disabled]="!selectedImageUrl" [ngClass]="{'disabled-button': !selectedImageUrl}" -->
            <mat-icon>add</mat-icon>
            <span>Área</span>
          </button>
        </div>
        <div class="action add-territory">
          <button mat-button [disabled]="!canAddTerritory" [ngClass]="{'disabled-button': !canAddTerritory}" (click)="addTerritory()">
            <mat-icon>add</mat-icon>
            <span>Territorio</span>
          </button>
        </div>
        <div class="action add-connection">
          <button mat-button [disabled]="!canAddConnection" [ngClass]="{'disabled-button': !canAddConnection}" (click)="addConnection()">
            <mat-icon>add</mat-icon>
            <span>Conexión</span>
          </button>
        </div>
      </div>

      <div class="map-counter">
        <mat-list>
          <mat-list-item><b>Áreas</b>: {{ '00' }}</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item><b>Territorios</b>: {{ '000' }}</mat-list-item>
          <mat-divider></mat-divider>
        </mat-list>
      </div>
    </div>
    
    <div class="map-container" [ngClass]="{'bg-white': !selectedImageUrl}">
      <span *ngIf="!selectedImageUrl">Añade una imágen de mapa</span>
      <img [src]="selectedImageUrl" *ngIf="selectedImageUrl" class="map-image">
    </div>

  </div>

</div>
