@import 'src/assets/scss/_colors.scss';

.main-container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $lightGray;
}

.toolbar-container {
  align-items: center;
  flex: 0 0 auto;
  box-sizing: border-box;
}

.page-container{
  width: 100%;
}

.toolbar-title {
  font-size: 26px;
}

.toolbar-options {
  padding-left: 16px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: row;
  justify-content: flex-end;
}

.toolbar-option {
  font-size: 16px;
  padding: 12px;

  mat-icon {
    color: $white;
    font-size: 18px;
  }

  span {
    color: $white;
  }
}

.toolbar-spacer {
  flex: 1 1 auto;
}

//----------------------

.main-content{
  padding: 0 15px;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .map-name mat-form-field{
    min-width: 285px;
    display: flex;
    justify-content: center;
  }
}

.action-container{
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  .action{
    margin: 0 10px;
    margin-top: 10px;
    button {
      background-color: $purple;
      color: $white;
      span{
        margin-right: 8px;
      }
    }
    button.disabled-button{
      background-color: $gray;
    }
  }
}



.map-counter mat-list{
  display: flex;
  flex-direction: column;
}

.map-container{
  margin: 10px 0 15px 0;
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $gray;
  font-size: 20px;
  .map-image{
    max-width: 100%;
    border: 5px solid $darkGreen;
    border-radius: 8px;
  }
}

.t-point{
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 5px solid $red;
  position: absolute;
  border-radius: 20px;
}

@media (max-width: 640px) {
  .toolbar-options {
    flex-direction: column;
    align-items: flex-end;
  }
  .toolbar-container {
    min-height: 120px;
  }
}

@media (max-width: 720px) {
  .header{
    display: block;
  }
  .map-counter mat-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    mat-list-item{
      text-align: center;
    }
  }
  .map-name{
    margin: 18px 0;
  }
}